@model GigHub.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>
    @Model.ArtistName
    @if (Model.ShowActions)
    {
                <button class="btn 
                    @(Model.UserFollowing ? "btn-info" : "btn-default")
                    js-toggle-following"
                data-artist-id="@Model.ArtistId">
                    @(Model.UserFollowing ? "Following" : "Follow ?")
                </button>
    }
</h2>
<p>
    Performing at @Model.Venue on @Model.Date at @Model.Time
</p>
@if (Model.ShowActions && Model.UserAttending)
{
    <p>
        You are going to this event.
    </p>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            FollowingsController.init();
        });
    </script>
}
